<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layouts/admin-layout}"
>
<head>
  <title>Manage Offices</title>
  <div layout:fragment="static-files">
    <link rel="stylesheet" th:href="@{/lily/js/CustomDataTable/dataTables.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/lily/js/CustomDataTable/responsive.bootstrap4.min.css}">
    <link rel="stylesheet" th:href="@{/lily/js/CustomDataTable/buttons.bootstrap4.min.css}">
    <style>

    </style>
  </div>
</head>
<body>
  <main>

  </main>
</body>
</html>