<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layouts/landing-layout}"
>
<head>
  <title>RIE Mysuru</title>
  <div layout:fragment="styles">
    <link rel="stylesheet" th:href="@{/css/blogs.css}">
  </div>
</head>
<body>

<!-- Main Content Area -->
<main layout:fragment="content">
  <!--Pre Loader-->
  <div layout:replace="~{fragments/lilypreloader :: preloader}"></div>
  <!-- page title -->
  <section id="about-hero" class="hero-section overlay bg-cover" data-background="tempscripts/images/aboutus/ncert_building.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb mb-2">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary" th:href="@{/nerie/about}">NCERT Constituent Units</a></li>
            <li class="list-inline-item text-white h3 font-secondary nasted">RIE Mysuru</li>
          </ul>
          <p class="text-lighten mb-0">RIE Mysuru(NCERT),Manasagangothri, Mysuru - 570006 Karnataka, India</p>
        </div>
      </div>
    </div>
  </section>
  <!-- about -->
  <section class="section-sm bg-gray adjust-section">
    <div class="container">
      <div class="row" >
        <div class="col-12 mb-4">
          <img th:src="@{/lily/images/aboutus/RIE_Mysore_edited.jpg}" alt="blog-thumb" class="img-fluid w-100">
        </div>

        <!-- border -->
        <div class="col-12 mt-4 pb-3">
          <div class="border-bottom border-primary"></div>
        </div>

        <div class="col-12">
          <ul class="list-inline">
            <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><span class="font-weight-bold mr-2">Principal</span>Prof. Yagnamurthy Sreekanth</li>
            <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="ti-book mr-2"></i>Regional Institute of Education</li>
            <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="ti-book mr-2"></i>National Council of Educational Research and Training</li>
            <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><i class="font-weight-bold mr-2"></i>Manasagangothri, Mysuru - 570006 Karnataka, INDIA</li>
            <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light"><a class="text-light" href="https://www.riemysore.ac.in/" target="_blank"><i class="ti-link mr-2"></i>RIE Mysuru website</a></li>
          </ul>
        </div>

        <div class="col-12 mb-5">
          <br>
          <h2>RIE Mysuru</h2>
          <p align="justify" style="font-size: 15px">
            The Regional Institute of Education Mysuru ( Formerly Regional College of Education )
            founded on 1st August, 1963, is one of five such institutions established by the National Council of Educational Research and Training (NCERT), New Delhi. The other Institutes are located at Ajmer, Bhopal, Bhubaneswar and Shillong.
            The Regional Institutes were started with main the objective of qualitative improvement of school
            education through innovative pre-service and in-service teacher training programmes and relevant research, development and extension activities.
            The Regional Institute of Education, Mysuru has established itself as an institute of repute in the area of school and
            teacher Education. The institute has endeavored to shoulder the responsibilities and challenges generated by changes in the educational scenario of the country and the southern region.
            <br>The Institute has been functioning as Regional Institute of Education since 1995,
            following a major shift in its focus from pre-service Education to in-service Education. The pre-service teacher Education
            programmes of the institute are affiliated to the University of Mysuru and cater to the needs of south Indian states
            namely Andhra Pradesh, Karnataka, Kerala, Tamil Nadu, and Union Territories of Pondicherry and Lakshadweep. A Demonstration
            Multipurpose School (DMS) is attached to each RIE at Ajmer, Bhopal, Bhubaneswar and Mysuru as a laboratory for trying out
            innovative practices in school Education and teacher Education. These are also used for practical training for the trainees of the institutes
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>