<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layouts/landing-layout}"
>
<head>
    <title>Reset Password</title>
    <div layout:fragment="styles">
        <link th:href="@{/css/login.css}" rel="stylesheet">
    </div>
     <style>
            #formdiv{
                height:58vh;
            }
        </style>
</head>

<main layout:fragment="content">
    <div layout:replace="~{fragments/lilypreloader :: preloader}"></div>
    <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="my-section-title text-center pt-4 pb-0">Reset Password</h3>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="row d-flex justify-content-center mt-5" id="formdiv">
                    <div class="col-sm-8">
                        <form method="POST" id="resetpassword" autocomplete="off">
                            <div class="form-group row">
                                <div class="col-md-2 col-form-label"></div>
                                <div class="col-md-3 col-form-label">
                                    <label>User ID:<span style="color: #ff0033; font-size: 20px">*</span></label> 
                                </div>
                                <div class="col-md-5">
                                    <input type="text" name="userid" id="userid" class="form-control" required="true" maxlength="50" />
                                </div>
                            </div>
                            <div class="text-center"> 
                                <input id="submit" type="submit" name="submit" value="SUBMIT" class="btn btn-info"/>
                                <input type="button" value="CANCEL" class="btn btn-danger" data-dismiss="modal" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
    <script nonce="${cspNonce}">
        $(document).ready(function () {
            $("#resetpassword").submit(function (e) {
                e.preventDefault();
                if (confirm("Please Confirm You Want To Reset Your Password By Clicking OK.")) {
                    $.ajax({
                        type: "POST",
                        url: "/nerie/loginresetpassword",
                        data: $("#resetpassword").serialize(),
                        success: function (data) {
                            if (data.status === "1") {
                                alert(data.val);
                                window.location.href = "/nerie/index";
                            } else {
                                alert(data.val);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("error:" + textStatus + " - exception:" + errorThrown);
                        }
                    });
                }
            });
        });
    </script>
    <div layout:fragment="scripts">
        <script th:src="@{/js/login.js}"></script>
    </div>
</main>
</html>