<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{${layoutPath}}"
>
<head>
    <title>Leave Application</title>
    <div layout:fragment="static-files">

    </div>

</head>
<body>

<div id="loader">
    <div class="spinner"></div>
</div>

<!-- Main Content Area -->
<main layout:fragment="content">

    <div class="container mt-4 mb-4">
        <div class="card box-shadow-grey">
            <div class="row table-responsive">
                <div class="col-md-12 p-5">
                    <h4 class="card-title titlecss"><i class="fa fa-list">  Leave Applications</i></h4>
                    <hr/>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered center-sans-serif" id="leavelist">
                            <thead class="fs-14">
                            <tr>
                                <th class="w-20">Approval Status</th>
                                <th class="w-20">Student Information</th>
                                <th class="w-20">Application Submission Date</th>
                                <th class="w-10">Leave Station</th>
                                <th class="w-20">Leave From</th>
                                <th class="w-20">Leave To</th>
                                <th class="w-15">Reason for Leave</th>
                                <th class="w-15">View Application</th>
                            </tr>
                            </thead>
                            <tbody class="fs-12">
                            <tr th:each="v : ${leavelist}">
                                <td th:if="${v.isapproved == null and (v.iswardenapproved == null or v.iswardenapproved == '1' or v.iswardenapproved == '2') and (v.isdeanapproved == null or v.isdeanapproved == '1')}" class="text-danger bold">No Action Taken Yet!</td>
                                <td th:if="${v.isapproved == '0' or v.isdeanapproved == '0' or v.iswardenapproved == '0'}" class="text-danger">
                                    Not Approved<br/>
                                    <span class="text-primary">Reason: <th:block th:text="${v.rejectionreason}"></th:block></span>
                                </td>
                                <td th:if="${v.isapproved == '1'}" class="text-success">Approved!</td>

                                <td th:text="${v.studentid.fname + ' ' + v.studentid.mname + ' ' + v.studentid.lname + ' (' + v.studentid.rollno + ')'}"></td>
                                <td th:text="${v.applicationdate != null ? #dates.format(v.applicationdate, 'dd-MM-yyyy') : ''}"></td>
                                <td th:text="${v.leavestation}"></td>
                                <td th:text="${v.requestedfrom != null ? #dates.format(v.requestedfrom, 'dd-MM-yyyy') : ''}"></td>
                                <td th:text="${v.requestedto != null ? #dates.format(v.requestedto, 'dd-MM-yyyy') : ''}"></td>
                                <td th:text="${v.reasonforleave}"></td>
                                <td><a th:href="@{/nerie/student-leaves/view-leave-application-details(aid=${v.studentleaveid})}" class="btn btn-sm btn-primary mb-1 mb-sm-0 mr-sm-1" target="_blank">View</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<th:block layout:fragment="scripts">
    <script th:src="@{/js/approveStudentLeave.js}"></script>
</th:block>
</body>
</html>