<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{${layoutPath}}"
>
    <div layout:fragment="static-files">
        <div layout:insert="~{fragments/ResourcePerson :: statics}"></div>
        <!--   Custom DataTables are in common-assets    -->
    </div>

    <title layout:fragment="title">Resource Person</title>

    <main layout:fragment="content">
        <div layout:replace="~{fragments/ResourcePerson :: form}"></div>
        <!-- Feedback Modal -->
        <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-light text-dark">
                        <h5 class="modal-title" id="feedbackModalLabel">Message</h5>
                        <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body" id="feedbackModalBody">
                        <!-- Message content inserted via JS -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="modalOkButton" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</html>