<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layouts/coordinator-faculty-layout}">
<head>
  <title layout:fragment="title">Overall Feedback List</title>
  <div layout:fragment="static-files"></div>
</head>
<body>

<div id="loader">
  <div class="spinner"></div>
</div>

<!-- Main Content Area -->
<main layout:fragment="content">
  <div class="container mt-4 mb-4">
    <div class="card box-shadow-grey">
      <div class="card-title titlecss">
        <h4>
          <i class="fa fa-book"></i>&nbsp;
          Feedbacks for Program (<span th:text="${program.programcode.programname}"></span>),
          Phase (<span th:text="${program.phasedescription}"></span>)
        </h4>
      </div>
      <hr>
      <div class="card-body margin-0">
        <div class="container-fluid bold">
          <div class="row table-responsive">
            <table class="table table-striped table-bordered center-sans-serif" id="approveprogram">
              <thead class="fs-14">
              <tr>
                <th class="w-1">Sl No.</th>
                <th>User</th>
                <th class="noExport">Action</th>
              </tr>
              </thead>
              <tbody class="fs-12">
              <tr th:each="v, s : ${feedbackslist}">
                <td th:text="${s.index + 1}"></td>
                <td th:text="${v.mtuserlogin.username}"></td>
                <td class="white-space-nowrap">
                  <a class="btn btn-sm btn-info"
                     th:href="@{/nerie/participant/feedback/view-overall-feedback(aid=${v.phaseid.phaseid}, usercode=${v.mtuserlogin.usercode})}">
                    <i class="fa fa-eye"></i> View
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Feedback Modal (optional use if needed) -->
  <div class="container">
    <div class="modal fade" id="modalattendance-modal">
      <div class="modal-dialog modal-dialog-centered m-w-70">
        <div class="modal-content">
          <div class="modal-header text-center d-block border-bottom-0">
            <button type="button" class="close position-absolute r-15-t-8" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row p-5 w-100" id="tabledivattendance"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block layout:fragment="scripts">
  <script th:src="@{/js/listOverallFeedback.js}"></script>
</th:block>
</body>
</html>
