<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{${layoutPath}}"
>

<div layout:fragment="static-files">
    <!-- utilities -->
    <script th:src="@{/js/utils/networkUtilities.js}"></script>
    <script th:src="@{/js/programCategories.js}"></script>
</div>

<title layout:fragment="title">Course Categories</title>

<main layout:fragment="content">
    <div class="container mt-4 mb-4">
        <div class="card box-shadow-grey" >
            <h4 class="card-title titlecss"><i class="fa fa-list">  Program Category</i>
                <span class="float-right pr-4">
                    <input type="button" class="btn btn-success" id="addft" name="addft" value="Add New" data-toggle="modal" data-target="#modalid-modal"/>
                </span>
            </h4>
            <hr>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered center-sans-serif" id="categorytable">
                        <thead class="fs-14">
                        <tr>
                            <th>Sl No.</th>
                            <th>Program Category Name</th>
                            <th>Program Type</th>
                            <th class="noExport">Action</th>
                        </tr>
                        </thead>
                        <tbody class="fs-12" >
                        <tr th:each="v, s : ${mcoursecategoryList}">
                            <td th:text="${s.index + 1}"></td>
                            <td th:text="${v.coursecategoryname}"></td>
                            <td>
                                <span th:if="${v.coursetype == 'S'}">Short Term</span>
                                <span th:if="${v.coursetype == 'L'}">Long Term</span>
                            </td>
                            <td class="w-s-nowrap">
                                <button class="clickme danger11 editbtn btn btn-sm btn-info"
                                        th:attr="data-coursecategorycode=${v.coursecategorycode},
                                                 data-coursecategoryname=${v.coursecategoryname},
                                                 data-coursetype=${v.coursetype}">
                                    <i class="fa fa-edit">  Edit</i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="modal fade" id="modalid-modal">
            <div class="modal-dialog modal-dialog-centered m-w-50" >
                <div class="modal-content">
                    <!--Modal Header-->
                    <div class="modal-header text-center d-block p-5 border-bottom-0">
                        <h5 class="modal-title" ><u>Add/Edit Program Category</u></h5>
                        <button type="button" class="close position-absolute r-15-t-8" data-dismiss="modal">×</button>
                    </div>

                    <!--Modal body-->
                    <div class="modal-body">
                        <form name="mcoursecategoriesfn" id="mcoursecategoriesfid" autocomplete="off">
                            <div class="form-group row">
                                <div class="col-md-1 col-form-label"></div>
                                <div class="col-md-4 col-form-label">
                                    <label for="coursetype">Program Type:<span class="span">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <select name="coursetype" id="coursetype" class="form-control" required="true" >
                                        <option value="">Select</option>
                                        <option value="S">Short Term</option>
                                        <option value="L">Long Term</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-1 col-form-label"></div>
                                <div class="col-md-4 col-form-label">
                                    <label for="coursecategoryname">Program Category Name:<span class="span">*</span></label>
                                </div>
                                <div class="col-md-6">
                                    <input name="coursecategorycode" id="coursecategorycode" class="form-control" hidden="true" />
                                    <input name="coursecategoryname" id="coursecategoryname" class="form-control alphabets" required="true" maxlength="50" />
                                </div>
                            </div>

                            <div style="text-align: center">
                                <input id="submit" type="submit" name="submit" value="SUBMIT" class="btn btn-info" />
                                <input type="button" value="CANCEL" class="btn btn-danger" data-dismiss="modal" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Feedback Modal -->
    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light text-dark">
                    <h5 class="modal-title" id="feedbackModalLabel">Message</h5>
                    <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="feedbackModalBody">
                    <!-- Message content inserted via JS -->
                </div>
                <div class="modal-footer">
                    <button type="button" id="modalOkButton" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</main>

</html>