<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{layouts/principal-director-layout}"
>
    <head>
        <!-- page title -->
        <title layout:fragment="title">Home</title>
        
        <div layout:fragment="static-files">
            <link th:href="@{/lily/jquery-mini-event-calendar/mini-event-calendar.min.css}" rel="stylesheet" type="text/css"/>
            <script th:src="@{/lily/jquery-mini-event-calendar/mini-event-calendar.min.js}" type="text/javascript"></script>
            <script th:src="@{/js/serverDateTime.js}"></script>

            <script th:src="@{/js/principalDirectorHome.js}"></script>
        </div>
    </head>

    <body>
    <!-- Main Content Area -->
        <main layout:fragment="content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card mt-4 mb-4 box-shadow-grey">
                        <div class="row align-items-center justify-content-center p-3">
                            <div class="col-12 col-md-auto text-center mb-3 mb-md-0">
                                <img th:if="${myinfo.userphotograph != null}" th:src="'data:image/jpeg;base64,' + ${profilePicture}" class="img-thumbnail" style="width:150px; height:150px;" />
                                <img th:unless="${profilepic != null}" id="previewfile1" class="img-thumbnail"
                                     th:src="@{/tempscripts/images/defaultprofile.jpg}" style="width:150px; height:150px;" alt="Default Profile Picture"/>
                            </div>
                            <!-- User Info & Server Time Column -->
                            <div class="col-12 col-md-10">
                                <div class="row">
                                    <div class="col-12 col-lg-7 text-center text-lg-left mb-3 mb-lg-0">
                                        <div class="d-inline-block text-left">
                                            <h5 class="mb-3">Logged in as: Principal</h5>
                                            <p class="mb-1" th:text="'Email ID:' + ${myinfo.emailid}"></p>
                                            <p class="mb-0" th:text="'Mobile No:' + ${myinfo.usermobile}"></p>
                                        </div>
                                    </div>

                                    <!-- Right: Server Time -->
                                    <div class="col-12 col-lg-5 text-center text-lg-right">
                                        <div class="card-body p-0">
                                            <input id="sysdate" type="hidden" th:value="${sysdate}" />
                                            <input id="timeZoneOffset" type="hidden" th:value="${timeZoneOffset}" />
                                            <b class="d-block mt-3 mt-lg-0">Server Date & Time</b>
                                            <h6 id="servdate" class="mb-0"></h6>
                                            <h6 id="servtime"></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container-fluid mt-4 px-4">
                                    <div class="container-fluid mt-4 px-4">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <div class="card bg-dark">
                                                    <div class="card-body">
                                                        <div id="calendar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-8">
                                                <div class="card">                                                  
                                                    <div class="card-body">
                                                        <div class="row d-flex justify-content-between">
                                                            <div class="col">
                                                                <div class="card2 text-center bg-department department">
                                                                    <div class="card-header">
                                                                        Total Departments
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <i class="fas fa-building"></i><br/>
                                                                        <h1 th:text="${departmentsCount}"></h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card2 faculty text-center bg-faculty">
                                                                    <div class="card-header">
                                                                        Faculties Registered 
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <i class="fas fa-user-tie"></i><br/>
                                                                        <h1 th:text="${facultiesCount}"></h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card2 text-center bg-student student">
                                                                    <div class="card-header">
                                                                        Students Registered
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <i class="fas fa-users-class"></i><br/>
                                                                        <h1 th:text="${studentsCount}"></h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card2 text-center bg-alumni alumni">
                                                                    <div class="card-header">
                                                                        Alumni Registered
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <i class="fas fa-user-graduate"></i><br/>
                                                                        <h1 th:text="${alumniCount}"></h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card">                                                  
                                                    <div class="card-body">
                                                        <div class="row d-flex justify-content-between">
                                                            <div class="col">
                                                                <div class="card2 coordinator text-center bg-coordinator">
                                                                    <div class="card-header">
                                                                        Coordinators Registered 
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <i class="fas fa-user-tie"></i><br/>
                                                                        <h1 th:text="${coordinatorsCount}"></h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card2 text-center bg-participant participant">
                                                                    <div class="card-header">
                                                                        Participants Registered
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <i class="fas fa-users"></i><br/>
                                                                        <h1 th:text="${participantsCount}"></h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card2 text-center bg-completedp completedp">
                                                                    <div class="card-header">
                                                                        Completed Programs
                                                                    </div>
                                                                    <div class="card-body">
                                                                        (2022-2023)<br/>
                                                                        <h1 th:text="${completedofficeprograms}"></h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="card2 text-center bg-closedp closedp">
                                                                    <div class="card-header">
                                                                        Closed Programs
                                                                    </div>
                                                                    <div class="card-body">
                                                                        (2022-2023)<br/>
                                                                        <h1 th:text="${closedofficeprograms}"></h1>
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <th:block layout:fragment="scripts">
        </th:block>
    </body>
</html>
