<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{${layoutPath}}">
<head>
    <title layout:fragment="title">Change Password</title>
    <th:block layout:fragment="static-files"></th:block>
</head>
<body>
<main layout:fragment="content">
    <div class="container-fluid bgcolor">
        <br/>
        <div class="container">
            <div class="card box-shadow-grey">
                <div class="card-title titlecss">
                    <h4 style="text-align: center"><i class="fa fa-book"> Change Password</i></h4>
                </div>
                <hr/>
                <div class="card-body margin-0">
                    <div class="container bold">
                        <form method="POST" th:object="${userlogin}" th:action="@{/nerie/users/change-password}" name="userloginfn" id="userloginfid" role="form" autocomplete="off">

                            <!-- User ID -->
                            <div class="form-group row mb-3">
                                <label for="userid" class="col-md-3 col-form-label">User Id:<span class="span">*</span></label>
                                <div class="col-md-5">
                                    <input type="text" id="userid" th:value="*{userid}" class="form-control" required readonly/>
                                </div>
                            </div>

                            <!-- Old Password -->
                            <div class="form-group row mb-3">
                                <label for="olduserpassword" class="col-md-3 col-form-label">Old Password:<span class="span">*</span></label>
                                <div class="col-md-5">
                                    <input id="olduserpassword" name="olduserpassword" type="password" class="form-control" required maxlength="512"/>
                                    <small id="oldPasswordError" class="text-danger"></small>
                                </div>
                            </div>

                            <!-- New Password -->
                            <div class="form-group row mb-3">
                                <label for="userpassword" class="col-md-3 col-form-label">New Password:<span class="span">*</span></label>
                                <div class="col-md-5">
                                    <input name="newuserpassword" id="userpassword" type="password" class="form-control" required maxlength="512"/>
                                    <small id="newPasswordError" class="text-danger"></small>
                                    <span id="percent" class="strength-text">0%</span>
                                    <span class="strength-text Msg" id='results'></span>
                                    <div class="colorbar-custom" id="colorbar"></div>
                                </div>
                            </div>

                            <!-- Confirm Password -->
                            <div class="form-group row mb-3">
                                <label for="confirmpassword" class="col-md-3 col-form-label">Confirm Password:<span class="span">*</span></label>
                                <div class="col-md-5">
                                    <input id="confirmpassword" name="confirmpassword" type="password" class="form-control" required maxlength="512"/>
                                    <small id="confirmPasswordError" class="text-danger"></small>
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <button id="submitBtn" type="submit" name="submit" class="btn btn-info">SUBMIT</button>
                                <button id="customResetBtn" type="button" class="btn btn-danger">RESET</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</main>

<th:block layout:fragment="scripts">
    <script th:src="@{/js/updateUserPassword.js}"></script>
</th:block>
</body>
</html>
